

<!-- <p>Find me in app/views/cocktails/index.html.erb</p> -->
<div class="grid-cards m-5">
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="m-2">
                <%= link_to cocktail_path(cocktail) do %>
                  <% unless cocktail.photo.file.nil? %>
                    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
                  <% else %>
                    <div class="card-category">
                  <% end %>
                      <%= cocktail.name %>
                    </div>
                <% end %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>






<!--
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1566284628402-3f0895b3eb28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=944&q=80)">

</div> -->

